doctype html
html(lang='en')
    head
        title Create Account
        script(type='text/javascript').
            const foo = true;
            let bar = function() {};
            if (foo) {
                bar(1 + 5)
            }
    body
        h1 Create account
        #container.col
            form(action='http://127.0.0.1/users/create' method='post')
                label Email:
                input(type='email' name='email')
                br
                label Password:
                input(type='password' name='password')
                br
                input(type='submit' value='Create Account')
